<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            (Q)고령환자를 위한 예진 서비스(가제)
        </title>
    </head>
    <body>
        <!--Question-->
        <div class="question">
            {{question.text}}
        </div>
        <!--Option-->
        <div class="radio-group">
            <form action="" method="POST" class="question_form">
                <input type="submit" class="options" value="{{question.option1}}">
            </form>
        </div>
        <!--Paging-->
        <a class="btn btn-dark btn-xl" href="#">이전 페이지</a>
        <a class="btn btn-dark btn-xl" href="#">다음 페이지</a>
    </body>
</html>