<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            (H)고령환자를 위한 예진 서비스(가제)
        </title>
    </head>
    <body>
        <form action="" method="get">
            <div>
                시작하려면 핸드폰 번호를 입력해주세요.
                <input type="text" name="phone_num" class="txt" placeholder="000-0000-0000">
            </div>
            <div class="start_btn">
                <input class="btn" type="submit" value="예진 시작하기">
            </div>
        </form>
        <!--Paging-->
        <a class="btn btn-dark btn-xl" href="#">이전 페이지</a>
        <a class="btn btn-dark btn-xl" href="#">다음 페이지</a>
    </body>
</html>